rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/receipts/{txId}/{file} {
      allow read, delete: if request.auth != null && request.auth.uid == uid;
      allow create, update: if request.auth != null && request.auth.uid == uid
        && request.resource.size < 5 * 1024 * 1024
        && (request.resource.contentType.matches('image/.*') || request.resource.contentType == 'application/pdf');
    }
    match /users/{uid}/profile/{file} {
      allow read, delete: if request.auth != null && request.auth.uid == uid;
      allow create, update: if request.auth != null && request.auth.uid == uid
        && request.resource.size < 2 * 1024 * 1024 && request.resource.contentType.matches('image/.*');
    }
    match /{allPaths=**} { allow read, write: if false; }
  }
}
